.left-sidebar {
    width: 27rem;
    border-right: solid 0.2rem var(--clr-neutral);
}

.left-sidebar--nav a {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.left-sidebar--subitems {
    margin-bottom: 2rem;
    border-bottom: solid 0.2rem var(--clr-neutral);
}

.left-sidebar a {
    padding-top: 0.25rem;
}

.left-sidebar--subitems li {
    border-radius: 0.75rem;
    height: 3.5rem;
}

.left-sidebar--heading-item a {
    color: var(--clr-primary);
}

.left-sidebar--heading {
    width: 100%; 
    flex-direction: column;
}

.left-sidebar--heading li {
    padding-left: 2rem;
}
